<p>
  <mat-toolbar color="primary">
    <span>Tic Tac Toe</span>
  </mat-toolbar>
</p>
<div class="dashboard">
  <p class="game">
    <mat-grid-list cols="3" rowHeight="3:2">
      <ng-container *ngFor="let cell of cells; index as i">
        <div [ngSwitch]="cell">
          <mat-grid-tile *ngSwitchCase="''" class="cell clickable-cell" (click)="move(i)">{{cell}}</mat-grid-tile>
          <mat-grid-tile *ngSwitchDefault class="cell">{{cell}}</mat-grid-tile>
        </div>
      </ng-container>
    </mat-grid-list>
  </p>

  <div class="stats">
    <h2>Game Progress</h2>
    <p *ngIf="game.winner == null">Current Player: {{players[currentPlayer]}}</p>
    <p *ngIf="game.winner != null">Winner: {{players[game.winner]}}</p>
    <div *ngIf="game.moves.length > 0">
      <span>Moves</span>
      <ol>
        <li *ngFor="let move of game.moves">
          {{players[move[0]]}} - cell {{move[1]}}
        </li>
      </ol>
    </div>
    <button mat-button (click)="reset()">Restart Game</button>
  </div>
</div>