.dashboard {
    display: grid;
    grid-template-areas: "game stats";
}

.game {
    grid-area: game;
    margin-left: 5px;
    margin-right: 5px;
}

.cell {
    background-color: rgba(224, 255, 255, 0.3);
    border: 2px solid black;
    color: #673ab7;
    font-size: 72pt;
}

.clickable-cell {
    cursor: pointer;
}

.stats {
    grid-area: stats;
    font-size: large;
    margin-left: 20px;
}
